In [4]:
import pandas as pd

In [5]:
sal = pd.read_csv('data/Salaries.csv')

C:\Users\ACER\AppData\Local\Temp\ipykernel_19248\1142019743.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = pd.read_csv('data/Salaries.csv')

In [6]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [7]:
sal = sal.head(125322)

sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125322 entries, 0 to 125321
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                125322 non-null  int64
 1   EmployeeName      125322 non-null  object
 2   JobTitle          125322 non-null  object
 3   BasePay           124717 non-null  object
 4   OvertimePay       125322 non-null  object
 5   OtherPay          125322 non-null  object
 6   Benefits          89163 non-null   object
 7   TotalPay          125322 non-null  float64
 8   TotalPayBenefits  125322 non-null  float64
 9   Year              125322 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            125322 non-null  object
 12  Status            14791 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 12.4+ MB

In [8]:
sal.loc[:, 'BasePay'] = pd.to_numeric(sal['BasePay'], errors='coerce')

average_base_pay = sal['BasePay'].mean()

print(average_base_pay)

71374.75264304064

In [9]:
sal.loc[:, 'OvertimePay'] = pd.to_numeric(sal['OvertimePay'], errors='coerce')

average_overtime_pay = sal['OvertimePay'].max()

print(average_overtime_pay)

245131.88

In [10]:
joseph_driscoll_entry = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']

if not joseph_driscoll_entry.empty:
    index_joseph_driscoll = joseph_driscoll_entry.index[0]
    job_title_joseph_driscoll = joseph_driscoll_entry['JobTitle'].iloc[0]

    print(f"{index_joseph_driscoll} {job_title_joseph_driscoll}\nName: JobTitle")
else:
    print("Data for JOSEPH DRISCOLL not found.")

24 CAPTAIN, FIRE SUPPRESSION
Name: JobTitle

In [11]:
joseph_driscoll_entry = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']

if not joseph_driscoll_entry.empty:
    index_joseph_driscoll = joseph_driscoll_entry.index[0]
    total_pay_benefits_joseph_driscoll = joseph_driscoll_entry['TotalPayBenefits'].iloc[0]
    print(f"{index_joseph_driscoll} {total_pay_benefits_joseph_driscoll}\nName: TotalPayBenefits")
else:
    print("Data for JOSEPH DRISCOLL not found.")

24 270324.91
Name: TotalPayBenefits

In [12]:
highest_total_pay_benefits = sal.loc[sal['TotalPayBenefits'].idxmax()]

highest_total_pay_benefits_table = highest_total_pay_benefits.to_frame().T

sal.iloc[[highest_total_pay_benefits_table.index[0]]]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [13]:
lowest_total_pay_benefits = sal.nsmallest(1, 'TotalPayBenefits')

start_index = lowest_total_pay_benefits.index[0]
end_index = start_index + 1

sal.iloc[start_index:end_index]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
110530,110531,David P Kucia,Police Officer 3,NaN,0.0,0.0,-33.89,0.0,-33.89,2013,NaN,San Francisco,NaN

In [14]:
top_job_titles = sal['JobTitle'].value_counts().head(5)

print(top_job_titles)

JobTitle
Transit Operator    5233
Registered Nurse    3496
Special Nurse       2996
TRANSIT OPERATOR    2388
Police Officer 3    2335
Name: count, dtype: int64